.container{
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;   
    position: relative;
}

@media (max-width: 768px) { 
    .container{
        min-height: 450px;
    }
 }